<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="fanuc_cr35ia">
  <!-- "$(arg robot_model)_robot" -->
  <!-- import main macro -->
  <xacro:include filename="$(find fanuc_gazebo)/urdf/cr35ia_macro.xacro"/>

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>/>

  <xacro:fanuc_cr35ia_gazebo
    prefix=""
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />
     <!--
     joint_limits_parameters_file="$(arg joint_limit_params)"
     kinematics_parameters_file="$(arg kinematics_params)"
     physical_parameters_file="$(arg physical_params)"
     visual_parameters_file="$(arg visual_params)"
   -->
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="tool0_controller"/>
  <joint name="tool_controller_fake_joint" type="fixed">
    <parent link="tool0"/>
    <child link="tool0_controller"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>
