<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <!--
    NOTE: the macro defined in this file is NOT part of the public API of this
          package. Users CANNOT rely on this file being available, or stored in
          this location. Nor can they rely on the existence of the macro.
  -->

  <xacro:macro name="fanuc_transmission" params="prefix hw_interface">

    <!-- Transmissions for Gazebo -->
     <transmission name="trans_joint_1">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_1">
            <hardwareInterface>${hw_interface}</hardwareInterface>
        </joint>
        <actuator name="joint_1_motor">
            <hardwareInterface>${hw_interface}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint_2">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_2">
            <hardwareInterface>${hw_interface}</hardwareInterface>
        </joint>
        <actuator name="joint_2_motor">
            <hardwareInterface>${hw_interface}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint_3">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_3">
            <hardwareInterface>${hw_interface}</hardwareInterface>
        </joint>
        <actuator name="joint_3_motor">
            <hardwareInterface>${hw_interface}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint_4">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_4">
            <hardwareInterface>${hw_interface}</hardwareInterface>
        </joint>
        <actuator name="joint_4_motor">
            <hardwareInterface>${hw_interface}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint_5">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_5">
            <hardwareInterface>${hw_interface}</hardwareInterface>
        </joint>
        <actuator name="joint_5_motor">
            <hardwareInterface>${hw_interface}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint_6">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_6">
            <hardwareInterface>${hw_interface}</hardwareInterface>
        </joint>
        <actuator name="joint_6_motor">
            <hardwareInterface>${hw_interface}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

  </xacro:macro>

</robot>
